################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.net_Quiz2/FileContentIndex/661e6ec5-ffd9-41b8-88e9-2dd0331a0ce6.vsidx
/.vs/.net_Quiz2/FileContentIndex/3eb324cb-1dbd-4657-ad5a-847d132a5d83.vsidx
/.vs/.net_Quiz2/FileContentIndex/6de2c041-d628-4d5c-af89-9711bd3c4aa5.vsidx
/.vs/Collections/FileContentIndex
