################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.net_Quiz2/FileContentIndex/661e6ec5-ffd9-41b8-88e9-2dd0331a0ce6.vsidx
